TZ=Asia/Tehran
RESTART_POLICY=unless-stopped

# Postgres
POSTGRES_USER=forgejo
POSTGRES_PASSWORD=__DB_PASSWORD__
POSTGRES_DB=forgejo

# Forgejo
FORGEJO_DB_TYPE=postgres
FORGEJO_DB_HOST=postgres-forgejo:5432
FORGEJO_DB_NAME=forgejo
FORGEJO_DB_USER=forgejo
FORGEJO_DB_PASSWD=__DB_PASSWORD__

FORGEJO__server__ROOT_URL=__SITE_URL__
FORGEJO__server__SSH_PORT=__SSH_PORT__
FORGEJO__server__SSH_LISTEN_PORT=22
FORGEJO__server__DOMAIN=__HOST__
FORGEJO__server__LFS_START_SERVER=true

FORGEJO__service__DISABLE_REGISTRATION=false
FORGEJO__service__REQUIRE_SIGNIN_VIEW=false

FORGEJO__mailer__ENABLED=false
